{% extends 'base.html.twig' %}

{% block title %}Edit UsuDisp{% endblock %}

{% block body %}
    <h1>Edit Usuario</h1>

    {{ include('usuario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('usuario_index') }}">back to list</a>

    {#{{ include('usu_disp/_delete_form.html.twig') }}#}
{% endblock %}
