<form method="post" action="{{ path('usu_disp_delete', {'id': usu_disp.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usu_disp.id) }}">
    <button class="btn">Delete</button>
</form>
